@model DireccionView;

<hr />
<div>
    <a class="btn btn-secondary" asp-action="@Model.Action"
       asp-controller="@Model.Controlador" 
       asp-area="@Model.Area"><i class="fas fa-angle-left"></i> Atrás</a>
</div>
<br />