
@{
    ViewData["Title"] = "TuOpinion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos
{
    <style type="text/css">
    </style>

}



<div class="container">

    <partial name="_btnSuperiorAtras" model='new DireccionView { Area = "Usuario", Controlador = "Panel", Action = "Ingresar" }' />


    <iframe height="870" class="col-lg-12 col-md-12 col-sm-12" src="https://docs.google.com/forms/d/e/1FAIpQLSdRbUt7ZPzE2ziI6Yxz72T4hLDN5mVn7Gw445DjgXTkpvvOzw/viewform?usp=pp_url"></iframe>
    <br />
    <br />


    <br />
    <br />
    <br />
</div>


